<div class="design">
    <br />
    <div class="container" id="main-container">
      <div class="row">
        <div *ngFor="let student of students" class="col-md-6 col-xl-3">
          <div class="card m-b-30">
            <div class="card-body row">
              <div class="col-6">
                <img
                  src="http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/blond-haired-man.png"
                  alt=""
                  class="img-fluid rounded-circle w-50"
                />
              </div>
              <div class="col-6 card-title align-self-center mb-0">
                <h3>{{ student.name }}</h3>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="fa fa-book-reader float-right"></i>Standard :
                {{ student.standard.grade }}
              </li>
              <li class="list-group-item">
                <i class="fa fa-book float-right"></i>Standard :
                {{ student.parent.name }}
              </li>
              <!-- <li class="list-group-item" *ngIf="teacher.standard.grade"><i
                                      class="fa fa-book-reader float-right"></i>Class Teacher : {{teacher.standard.grade}}
                              </li> -->
            </ul>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>