<!-- <div class="login-page text-center"></div>  -->
<div class="login-page">
  <div class="container text-center">
    <h1 class="text-center">Welcome</h1>

    <div class="row">
      <div class="col-md-6 offset-md-3">
          <div class="container text-center">
              <img class="img-fluid" style="width: 110px;" src="../../assets/LoginLock2.png" alt="">
          </div>
        <h1>Login here</h1>

        <form action="">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>User ID</mat-label>
                <input type="text" matInput name="" id="" required>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput name="" id="" required>
            </mat-form-field>
            <div class="container text-center">
                <button type="submit" mat-raised-button color="primary">
                    Login
                </button>
                <button class="ml-3" type="submit" mat-raised-button color="accent">
                    Reset
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
