

<!-- <footer id="footer-div" class="footer mt-auto py-3">
  <div class="container">
    <pre class="text-muted" style="text-align: center;">&copy; 2021 Alphonsa School.
      Designed and maintained by JEE FS 4th March Batch 2 Team 1. <p class="float-right"><a href="#"><i class="fad fa-arrow-up fa-2x"></i></a></p></pre>
  </div>
</footer>  -->


  <!-- <footer id="footer">
    <pre class="text-muted" style="text-align: center;">&copy; 2021 Alphonsa School.
      Designed and maintained by JEE FS 4th March Batch 2 Team 1. 
    </pre>
  </footer> -->

  <!-- <footer class="bg-dark text-center text-lg-start">
  <div class="container p-4">
    
    <p>&copy; 2021 Alphonsa School.</p>
    <p>Designed and maintained by JEE FS 4th March Batch 2 Team 1.</p>
  </div>
  </footer> -->

  <footer class="py-2 bg-dark text-secondary">
    <div class="container text-center">
        Copyright &copy; 2021 Alphonsa School<br>
        Developed and maintained by JEE FS Ang Mar 4th Batch 2 Team 1
    </div>
</footer>


 