<!-- <button (click)='onClickAttendance()'>Show Attendance</button>
<button (click)='onClickDailyDiary()'>Show Daily Diary</button>
<button (click)='onClickExam()'>Exam Details</button>
<button (click)='onClickFee()'>Show Fee Details</button>
<button (click)='onClickReportCard()'>Show Report Card</button>
<button (click)='onClickAddConcern()'>Add Concern</button> -->
<h1 class="ml-5 mt-4">Get all necessary details here</h1>
<div class="container" id="container1">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Attendance details
          </button>
        </h2>
      </div>

      <div
        id="collapseOne"
        class="collapse"
        aria-labelledby="headingOne"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <input type="number" placeholder="Student ID" class="form-control" />
          <button
            type="submit"
            class="btn btn-sm btn-success text-uppercase mt-2"
          >
            submit
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Daily diary details
          </button>
        </h2>
      </div>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <input type="number" placeholder="Student ID" class="form-control" />
          <button
            type="submit"
            class="btn btn-sm btn-success text-uppercase mt-2"
          >
            submit
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Exam details
          </button>
        </h2>
      </div>
      <div
        id="collapseThree"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <input
            type="number"
            placeholder="Date in yyyy-mm-dd"
            class="form-control"
          />
          <button
            type="submit"
            class="btn btn-sm btn-success text-uppercase mt-2"
          >
            submit
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapseFour"
            aria-expanded="true"
            aria-controls="collapseFour"
          >
            Fee details
          </button>
        </h2>
      </div>

      <div
        id="collapseFour"
        class="collapse"
        aria-labelledby="headingFour"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <input type="number" placeholder="Student ID" class="form-control" />
          <button
            type="submit"
            class="btn btn-sm btn-success text-uppercase mt-2"
          >
            submit
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapseFive"
            aria-expanded="true"
            aria-controls="collapseFive"
          >
            Report card details
          </button>
        </h2>
      </div>

      <div
        id="collapseFive"
        class="collapse"
        aria-labelledby="headingFive"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <input type="number" placeholder="Student ID" class="form-control" />
          <button
            type="submit"
            class="btn btn-sm btn-success text-uppercase mt-2"
          >
            submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="ml-5">Want to raise a concern?</h1>
<div class="container" id="container2">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingSix">
        <h2 class="mb-0">
          <button
            class="btn btn-link btn-block text-left"
            type="button"
            data-toggle="collapse"
            data-target="#collapseSix"
            aria-expanded="true"
            aria-controls="collapseSix"
          >
            Raise a concern
          </button>
        </h2>
      </div>

      <div
        id="collapseSix"
        class="collapse"
        aria-labelledby="headingSix"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <input type="number" placeholder="Parent ID" class="form-control" />
          <select name="" id="" class="form-control mt-2">
            <option value="0">Select</option>
            <option value="ACADEMIC">Academic</option>
            <option value="ATTENDANCE">Attendance</option>
            <option value="PERFORMANCE">Performance</option>
            <option value="FEES">Fees</option>
          </select>
          <input
            type="text"
            placeholder="What is your concern?"
            class="form-control mt-2"
          />
          <button
            type="submit"
            class="btn btn-sm btn-success text-uppercase mt-2"
          >
            submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="container3">
  <app-get-attendance></app-get-attendance>
</div>
