
<div class="container mt-4" id="contact-us-component">
    <!-- <img src="../../assets/Chalkboard Drawings.webp" alt="" height="500px" width="1120px"/> -->
    <div class="contact-us-component-description">
      <h1 style="text-align:centre;font-weight: bold; font-size: 28px;font-family: 'Times New Roman', Times, serif;">CONTACT US</h1>
      <h2>
        You can contact us with any querries and doubts, follow following links to reach out to us
    </h2>
      <br>
      <br>
      <br>
      <h3 style="text-align:left; font-size: 28px;font-family: 'Times New Roman', Times, serif;">
        connect with us on <a href="url" style="color: rgb(255, 0, 106)">Instagram</a></h3>

        <h3 style="text-align:left; font-size: 28px;font-family: 'Times New Roman', Times, serif;">
        connect with us on <a href="url" style="color: rgb(9, 9, 231)">Facebook</a></h3>

        <h3 style="text-align:left; font-size: 28px;font-family: 'Times New Roman', Times, serif;">
        connect with us on <a href="url" style="color: rgb(8, 201, 8)">Whatsapp</a></h3>

        <h3 style="text-align:left; font-size: 28px;font-family: 'Times New Roman', Times, serif;">
         connect with us on <a href="url" style="color: red">Gmail</a></h3>

         <h3 style="text-align:left; font-size: 28px;font-family: 'Times New Roman', Times, serif;">
        find us on <a href="url" style="color: rgb(54, 155, 15)">google maps</a></h3>

    </div>
  </div>
  <app-footer></app-footer>
    