.container-fluid {
  text-align: center;
  padding: 50px;
  background-color: #f4eee8;
}

div .container {
  position: absolute;
  top: 0;
  left: 0;
}

.about-component-description {
  width: 700px;
  margin: 50px 200px 10px 350px;
}

h1,
h2,
h3,
p {
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
img {
  height: 400px;
}
