<div class="container mt-4" id="about-component">
  <img src="../../assets/Chalkboard Drawings.webp" alt="" />
  <div class="about-component-description">
    <h3>Changing the World</h3>
    <h1 style="font-weight: bold; font-size: 28px;">ABOUT OUR ELEMENTARY SCHOOL</h1>
    <p style="font-size: 14px;">
      Alphonsa School, Kalamjote, a unit of the Koderma Franciscan Clarist
      Sister's Society is a Christian Minority School under the management of
      the Franciscan Clarist Sisters who are engaged in Educational, Medical and
      Social work all over India Since its origin on 14th December 1888. The
      Franciscan Clarist congregation. She is the Pride of India now as she is
      the First Indian woman saint to be canonized on October 12th 2008.
      Alphonsa School was established on 3rd April 1995 and since then one grade
      was added every year until it became a full-fledged High School having
      I.C.S.E syllabus. It is a co-educational school
    </p>
  </div>
</div>
