.container {
  text-align: center;
  padding: 50px;
  color: white;
}
.about-component-description{
    width: 700px;
    margin: 50px 200px 10px 170px;
}
h1,h2,h3,p {
  font-family: "Montserrat", sans-serif;
  text-align: left;
}
img {
  height: 400px;
}
