.design {
  background-color: rgb(154, 177, 202);
  margin-bottom: 8%;
}

a {
  position: absolute;
  color: inherit;
  right: 15%;
  bottom: 12%;
}

a:hover {
  color: blue;
}

#addTeacherButton {
  position: absolute;
  color: inherit;
  right: 14%;
  bottom: 6%;
}

.card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
