<!-- START THE FEATURETTES -->

<hr class="featurette-divider" />


  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">A HIGH ACADEMIC STANDARD</h2>
      <p class="lead">
        The academic program at Alphonsa School places an emphasis on every
        aspect of our student’s growth and development. We take advantage of the
        natural curiosity students possess by having our teachers present new
        information in creative ways and teach through exploratory experiences.
        Our I.C.S.E curriculum includes a variety of challenging courses that
        meet or exceed state requirements.
      </p>
    </div>
    <div class="col-md-5">
      <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="../assets/alphonsaSchool.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
      <img
        src="../../assets/alphonsaSchool.jpg"
        class="img-rounded"
        height="230"
        width="400"
      />
    </div>
  </div>


<hr class="featurette-divider" />

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">
      HISTORY <br />
    </h2>
    <p class="lead">
      Alphonsa School, Kalamjote, a unit of the Koderma Franciscan Clarist
      Sister's Society is a Christian Minority School under the management of
      the Franciscan Clarist Sisters who are engaged in Educational, Medical and
      Social work all over India Since its origin on 14th December 1888. The
      Franciscan Clarist congregation. She is the Pride of India now as she is
      the First Indian woman saint to be canonized on October 12th 2008.Alphonsa
      School was established on 3rd April 1995 and since then one grade was
      added every year until it became a full-fledged High School having I.C.S.E
      syllabus. It is a co-educational school.
    </p>
  </div>
  <div class="col-md-5 order-md-1">
    <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
    <img
      src="../../assets/schoolimg.jpg"
      class="img-rounded"
      height="230"
      width="400"
    />
  </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">
      AIMS & OBJECTIVES <br />
    </h2>
    <p class="lead">
      The school strives to prepare our students to be responsible, mature and
      integrated personalities. We aim at developing in our students an
      awareness of God's love, care and concern through which they may find
      meaning in life and hope for the future. We seek to form thoroughly
      educated men and women who motivated by genuine love and a spirit of
      service are alive to the needs of our times. Along with secular knowledge,
      we strive to instill in our students strong personal convictions and right
      values to motivate their actions to achieve this we seek to form in them a
      right conscience in their relation to God and their fellow men with a
      thirst for truth and wisdom, a sense of social justice, genuine concern
      for others and obedience to lawful authority.
    </p>
  </div>
  <div class="col-md-5">
    <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
    <img
      src="../../assets/culturalProgram.jpg"
      class="img-rounded-move-down"
      height="200"
      width="400"
    />
  </div>
</div>

<hr class="featurette-divider" />

<!-- /END THE FEATURETTES -->
