<!-- <div class="container">
    <div class="col-md-6 mt-3 offset-md-3">
        <h3> Add Parent </h3>
        <form (ngSubmit)="onAddParent()">
            <div class="form-group">
                <label> Name </label>
                <input type="text" class="form-control" id="name" [(ngModel)]='parent.name' name="name">
            </div>
            <div class="form-group">
                <label> Contact No </label>
                <input type="number" class="form-control" id="contact" [(ngModel)]='tparent.contact' name="contact">
            </div>
            <div class="form-group">
                <label> Student Id </label>
                <input type="number" class="form-control" id="contact" [(ngModel)]='tparent.contact' name="contact">
            </div>
            <button class="btn btn-success" type="submit">Add</button>
        </form>
    </div>
</div> -->