<div class="card-container">
    <div class="container">
      <div class="box">
        <div class="icon">A</div>
        <div class="content">
          <h3>Attendance</h3>
          <p>
            Hey parent, we are glad that you chose us. If you have any concern
            please feel free to raise one. Plese click the button below to proceed
          </p>
          <a href="">Add</a> &nbsp; &nbsp; <a href="">Update</a>
        </div>
      </div>
      <div class="box">
        <div class="icon">C</div>
        <div class="content">
          <h3>Concern</h3>
          <p>
            Hey parent, we are glad that you chose us. If you have any concern
            please feel free to raise one. Plese click the button below to proceed
          </p>
          <a href="">See status</a>
        </div>
      </div>
      <div class="box">
        <div class="icon">DD</div>
        <div class="content">
          <h3>Daily Diary</h3>
          <p>
            Hey parent, we are glad that you chose us. If you have any concern
            please feel free to raise one. Plese click the button below to proceed
          </p>
          <a href="">Add</a> &nbsp; &nbsp; <a href="">Update</a>
        </div>
      </div>
      <div class="box">
        <div class="icon">E</div>
        <div class="content">
          <h3>Exam</h3>
          <p>
            Hey parent, we are glad that you chose us. If you have any concern
            please feel free to raise one. Plese click the button below to proceed
          </p>
          <a href="">Add</a> &nbsp; &nbsp; <a href="">Update</a>
        </div>
      </div>
      <div class="box">
        <div class="icon">R</div>
        <div class="content">
          <h3>Report Card</h3>
          <p>
            Hey parent, we are glad that you chose us. If you have any concern
            please feel free to raise one. Plese click the button below to proceed
          </p>
          <a href="">Add</a> &nbsp; &nbsp; <a href="">Update</a>
        </div>
      </div>
    </div>
  </div>

